.padding-btn{
    width: 170px;
    height: 50px;
}

.btn:hover{
    border: 1px solid #F84E4F;
    color: rgb(251, 251, 251);
}

.btn-black {
    border: 1px solid white;
}

.text{
    justify-items: center;
    color: #F84E4F;
}

.text p{
    text-align: center;
}

.margin-btn{
    margin-left: 60px;
}

.text-filtrar{
    margin-left: 96px;
    margin-bottom: 40px;
    margin-top: 50px;
    width: 150px;
    background-color: #F62223;
}
.text-filtrar p{
    text-align: center;
    align-items: center;
    color: white;
    padding-top: 13px;
}