.card{
    border-top: 1px solid rgba(51,51,51,.1);
}

.imagen img{
    width: 17rem;
    height: 10rem;
}

.card-title{
    background-color: #F84E4F;
    padding: 10px;
    margin-top: -5%;
}

.card-body{
    border: 4px solid;
    border-color: #F84E4F;
    background-color: #130400;
}

.card-body h5{
    color: rgb(255, 255, 255);
    text-align: center;
}

.margin-tecno{
    margin-top: 4%;
}
.card-body p{
    color:  #F84E4F;
    padding: 1%;
    border: 1px solid;
    border-color: #F84E4F;
}


