.Color-Header{
    background-color: #E6E9F3;
}

.header{
    width: 97%;
    display: flex;
    justify-content: center;
    padding:3%;
    padding-left: 5%;
    
}


.title{
    color: #F84E4F;
    font-size: 57px;
    font-family: inherit;
}
.title-image{
    padding-left: 3%;
    padding-right: 10%;
    text-align:left;

}

.paragraph{
    width: 90%;
    color:#130400;
    margin-top: 9%;
    font-size: 2.65rem;
    font-family: inherit;
}


.titleCategories{
    text-align: center;
}


.align-projects{
    text-align: center;
    margin-top: 15px;
    padding-bottom: 100px;
}

.Title-Project h2{
    margin-top: 30px;
    color: #F84E4F;
    text-align: center;
    font-size: 4.3rem;
}


.Title-Destacados h3{
    margin-top: 18px;
    margin-left: 6%;
    color: #F84E4F;
    font-size: 2.5rem;
}

.Border-Destacados{
    margin-top: 50px;
    border-top: 7px solid #F84E4F;
    border-bottom: 7px solid #F84E4F;
}
